$font: 'Montserrat';

$bgColor: rgb(133, 63, 251);
$bgColorGrad: linear-gradient(90deg, rgba(133, 63, 251, 1) 0%, rgba(252, 83, 70, 1) 100%);

$titleColor: linear-gradient(90deg, #03e9f4, white, #1c5593, #a20099, #03e9f4);

$btnBgHover: #fc5346;
$btnColor: white;

$commentShadow: rgba(0, 0, 0, 0.235);
$commentsColor: white;

$textareaRed: rgba(252, 82, 70, 0.776);
$taColor: rgb(133, 63, 251);
$taColorText: white;